html, body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
}

:root { 
    --white: #fff;
    --red: #FF0002;
}

.flag {
    width: 150px;
    aspect-ratio: 1 / 1;
    background: var(--red);
    display: grid;
    place-items: center;
}

.cross {
    height: 93.75px;
    width: 28.125px;
    background: var(--white);
    position: absolute;
}

.cross2 {
    transform: rotate(90deg);
}
