html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

:root {
    --toggle-switch-bg: #232428;
    --toggle-border: #232428;
    --toggle-bg: #fff;
}

.toggle-switch {
    width: 120px;
    height: 50px;
    border: 4px solid var(--toggle-border);
    position: relative;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-input {
    display: none;
}

.toggle-switch::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--toggle-switch-bg);
    left: 0.15rem;
    transition: all 0.3s;
}

.toggle-input:checked + .toggle-switch::after {
    left: 4.55rem;
}