body {
    background-color: #f0f0f0;
    font-family: 'Karla', sans-serif;
    text-align: center;
    user-select: none;
}

h1 {
    color: #c00;
    font-size: xxx-large;
}

#form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 8px;
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    border-radius: 10px;
}

button {
    font-weight: bolder;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
    padding: 8px;
    margin-right: 8px;
    border: none;
    background-color: #c00;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #a00;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    align-items: center;
}

li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

li:hover {
    cursor: pointer;
    background-color: #f0f1f2;
}
